# Data & outputs
data/
outputs/*
!outputs/.gitkeep

# Model artifacts
*.pkl
*.joblib

# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store